<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae minus pariatur praesentium error! Incidunt totam quae pariatur, vitae alias id sint expedita voluptates, quaerat dolore non ea animi est cupiditate.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae minus pariatur praesentium error! Incidunt totam quae pariatur, vitae alias id sint expedita voluptates, quaerat dolore non ea animi est cupiditate.</p>
        </ul>
    </div>

</div>

