<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"></div>
        <h2>Portfolio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt error magni quo aperiam totam nam. Officia natus ipsum ad architecto nemo, repudiandae velit amet eveniet, ea nostrum magni magnam accusantium?</p>
    </div>
    <div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"></div> <!la foto es muy chica>
        <img src="../../../assets/portfolio.jpg" class="img-fluid img-proyecto" >
    </div>
</div>
